<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employees"
            connectionString="Data Source = (LocalDB)\\MSSQLLocalDB; AttachDbFilename = C:\\Users\\Intern_1\\source\\repos\\Employees\\Employees\\Employees.mdf; Integrated Security = True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>